{
  "Parameters": {
    "Environment": "dev",
    "ProjectName": "secure-video-platform",
    "DBInstanceClass": "db.t3.micro",
    "DBName": "videodb",
    "DBMasterUsername": "admin",
    "DBMasterPassword": "CHANGE_ME_STRONG_PASSWORD",
    "CognitoDomainPrefix": "my-video-platform-dev"
  }
}
